<div class="mt-3"></div>

<div class="card" style="max-width:100%">
    <div class="card__content">
    <h2 style="font-size:18px">Interests</h2>
    <p style="font-size:16px">
    My research interests span several fields of computational fluid mechanics, ranging from fluid-structure interaction and the associated complex mechanics, to classical turbulence problems. My current research focuses on modeling the interplay between flexible membranes and unsteady flow, where I am coupling a Finite-Volume Cartesian grid fluid solver and a Finite-Element solid mechanics solver. This has wide-ranging applications, including modeling of foliage, parachutes, sails, heart valves, and insect wings. In addition to computational fluid dynamics.
    </p>
    <p style="font-size:16px">I am also interested in sailing yacht performance prediction, weather forecasting, numerical methods (as applied to the aforementioned problems), and non-linear systems/chaos theory.
    </p>
    <p style="font-size:16px">
    Outside of my academic pursuits, I enjoy engaging in my favorite activities such as sailing, kitesurfing, and hiking.
    </p>
    </div>
</div>