{% assign repo_url = include.repository | split: '/' %}
{% if site.data.repositories.github_users contains repo_url.first %}
  {% assign show_owner = false %}
{% else %}
  {% assign show_owner = true %}
{% endif %}
{% assign max_lines = site.data.repositories.repo_description_lines_max | default: 2 %}
<div class="repo-card-item">
  <a href="https://github.com/{{ include.repository }}">
    <img
      style="width:100%"
      alt="{{ include.repository }}"
      src="https://gh-card.dev/repos/{{ include.repository }}.svg?fullname"
    >
  </a>
</div>
